html {
    font-size: 12px;
}

#header-container {
    padding: 0;
}


#header, #header li {
    background-color: #000000;
}

#header li a {
    padding: 30px 15px;
    border-radius: 0;
    font-size: 28px;
    font-weight: bold;
    font-family: typewriter;
    text-align: center;
}

@font-face {
  font-family: 'typewriter';
  src: url("../fonts/SplendidN.ttf") format('truetype');
  
}

#content-row {
    background-image: url('../images/crumpled-paper.jpg'); 
    min-height: 100%;    
}

#about h1 {
    font-family: typewriter;
    font-weight: bold;
    text-align:center;
    margin-bottom: 50px;
    margin-top: 0;
}

#left-container, #right-container {
    padding: 0;  
}

#story-top, #archive-top, #guideline-top, #about-top, #panel-top{    
    height: 20%;
    background-image: url('../images/notepaper-top.png'); 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
}

#story, #archive, #guideline, #about, #panel, #contents {    
    background-color: #ffffff;
    padding: 0 10%
}
    
#story, #about {
    padding: 0 20%;
}

#about {
    padding-bottom: 10%;
    margin-bottom: 20%;
}

#story-bottom, #archive-bottom, #guideline-bottom, #about-bottom , #panel-bottom, #contents-bottom{    
    height: 150px;
    background-image: url('../images/notepaper-bottom.png'); 
    background-size: 100%;
    background-repeat: no-repeat;
    position: center top;
}

#guideline p {
    margin-bottom: 0;
}