{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/journal.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<div class="container-fluid">
    <div class="row">
        <div id="header-container" class="col-sm-12 col-lg-12">
            <ul id='header' class="nav nav-pills nav-justified">
                <li role="presentation" class="active"><a href="/">Journal Name</a></li>
                {% block header-items %}                    
                {% endblock %}
            </ul>
        </div>
    </div>
    <div id="content-row" class="row">        
        <div id="left-container" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            {% block left-container %}            
            {% endblock %}
        </div>
        <div id="middle-container" class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            {% block middle-container %}{% endblock %}
        </div>
        <div id="right-container" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            {% block right-container %}            
            {% endblock %}
        </div>        
    </div>
</div>

{% block script %}            
{% endblock %}


