{% load static %}
   
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
{% block head %}
{% endblock %}
<div class="container-fluid">
    <div class="row">
        <div id="header-container" class="col-sm-12 col-lg-12">
            <ul id='header' class="nav nav-pills nav-justified">
                <li role="presentation" {% if request.path == "/" %}class="active"{% endif %}>
                <a {% if request.path == "/" %}style="pointer-events: none; cursor: default;"{% endif %} href="/">Journal Name</a></li>
                {% if latest_issue != None %}
                    {% if page_number != '0' and page_number != None %}
                        <li id="issue-contents" ><a href="#">Issue Contents</a></li>
                    {% else %}
                        <li role="presentation" {% if issue.number == latest_issue.number %}class="active"{% endif %}>
                        <a {% if issue.number == latest_issue.number %}style="pointer-events: none; cursor: default;"{% endif %} href="/journal/{{latest_issue.number}}/0">Current Issue</a></li>
                    {% endif %}
					{% if issue_count > 1 %}<li role="presentation" {% if request.path == "/archive" %}class="active"{% endif %}>
                    <a {% if request.path == "/archive" %}style="pointer-events: none; cursor: default;"{% endif %} href="/archive">Archive</a></li>{% endif %}
                {% endif %}
                <li role="presentation" {% if request.path == "/submit" %}class="active"{% endif %}>
                <a {% if request.path == "/submit" %}style="pointer-events: none; cursor: default;"{% endif %}href="/submit">Submissions</a></li>  
                {% block header-items %}                    
                {% endblock %}
            </ul>
        </div>
    </div>
    <div id="content-row" class="row">        
        <div id="left-container" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            {% block left-container %}            
            {% endblock %}
        </div>
        <div id="middle-container" class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            {% block middle-container %}{% endblock %}
        </div>
        <div id="right-container" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            {% block right-container %}            
            {% endblock %}
        </div>        
    </div>
</div>

{% block script %}            
{% endblock %}


