{% extends "base.html" %}
    {% load static %}
    {% block header-items %}
            {% if latest_issue != None %}
                <li role="presentation" class="active"><a href="journal/{{latest_issue.number}}/0">Current Issue</a></li>                
                <li role="presentation" class="active"><a href="archive">Archive</a></li>            
            {% endif %}
            <li role="presentation" class="active"><a href="submit">Submissions</a></li>            
    {% endblock %}
    
    {% block middle-container %}
        <div id="about">
            <h1>Welcome to Journal Name</h1>
            {{about_text.text | safe}}            
    {% endblock %}