{% extends "base.html" %}
{% load static %}
{% block header-items %}    
    <li id="issue-contents" role="presentation" class="active">
        <a>Contents</a>       
    </li>    
    <li class="active"><a href="/archive">Archive</a></li>
{% endblock %}

{% block left-container %}
    <div id='left-button' class="navbar navbar-default side">
        <a href="/Contents"></a>
    </div>
{% endblock %}

{% block middle-container %}    
    <div id="journal">
        <div id="contents-panel">
            <h1>{{latest_issue}}</1>
        </div>
    </div>
{% endblock %}

{% block right-container %}
    <div id='right-button' class="navbar navbar-default side">
        <a href="/Contents"></a>
    </div>
{% endblock %}

{% block script %}
    <script>        
        $(document).ready(function(){
            $("#issue-contents").click(function(){                
                $("#contents-panel").slideToggle("slow");            
        });
    });
    </script>
{% endblock %}