{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/journal.css' %}" />
{% endblock %}

{% block header-items %}
    {% if page_number != '0' %}
        <li id="issue-contents" class="active"><a href="#">Issue Contents</a></li>
    {% endif %}
    <li class="active"><a href="/archive">Archive</a></li>
    <li class="active"><a href="/submit">Submissions</a></li>
{% endblock %}

{% block left-container %}
    {% if page_number > '0' %}
        <form action="/journal/{{issue.number}}/{{page_number|add:'-1'}}">
            <input type="submit" id='left-button' value="" class="navbar navbar-default side"/>            
        </form>
    {% endif %}
{% endblock %}

{% block middle-container %}    
    <div id="journal">       
        <div id="contents-panel">
            <div id="contents">
                <h1>{{issue}}</h1>
                <ul>                
                    {% for story in stories %}                    
                        <li>                        
                            <span class="title"><a href="{{forloop.counter}}">{{story}}</a></span>                        
                            <br/>
                            <span class="author">{{story.author}}</span>                        
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="bottom"></div>
        </div>        
        {% if page_number == '0' %}
            <div class="row">
                <div class="col-lg-6 col-md-6col-sm-6 col-xs-6">
                    <div id="cover"><img src="{{issue.cover.url}}"/></div>
                </div>
                <div class="col-lg-6 col-md-6col-sm-6 col-xs-6">
                    <div id="contents-top"></div>
                    <div id="contents">
                        <h1>{{issue}}</h1>
                        <ul>                
                            {% for story in stories %}                    
                            <li>                        
                                <span class="title"><a href="{{forloop.counter}}">{{story}}</a></span>                        
                                <br/>
                                <span class="author">{{story.author}}</span>                        
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="contents-bottom"></div>
                </div>
            </div>
        {% else %}
            <div id="story-top"></div>            
            <div id="story">
                {% for story in stories %}                   
                    {% if forloop.counter == page_number|add:'0' %}                        
                        <h1>{{story.title}}</h1>
                        <h3>{{story.author}}</h3>                        
                        {{story.text|safe}}
                    {% endif %}
                {% endfor %}   
            </div>
            <div id="story-bottom"></div>
        {% endif %}
    </div>
{% endblock %}

{% block right-container %}    
    {% if story_number > page_number|add:'0' %}        
        <form action="/journal/{{issue.number}}/{{page_number|add:'1'}}">
            <input id='right-button' type="submit" value="" class="navbar navbar-default side"/>
        </form>
    {% endif %} 
{% endblock %}

{% block script %}
    <script>        
        $(document).ready(function(){
            $("#issue-contents").click(function(){                
                $("#contents-panel").slideToggle("slow");            
        });
    });
    </script>
{% endblock %}