{% extends "base.html" %}
{% load static %}

{% block header-items %}    
    <li id="issue-contents" role="presentation" class="active">
        <a>Contents</a>       
    </li>    
    <li class="active"><a href="/archive">Archive</a></li>
{% endblock %}

{% block left-container %}
    {% if page_number > '0' %}
        <form action="/journal/{{issue.number}}/{{page_number|add:'-1'}}">
            <input type="submit" id='left-button' value="" class="navbar navbar-default side"/>            
        </form>
    {% endif %}
{% endblock %}

{% block middle-container %}    
    <div id="contents-panel">
            <div>
                <h1>{{issue}}</h1>
                <ul>
                
                {% for story in stories %}                    
                    <li>                        
                        <span class="title"><a href="{{forloop.counter}}">{{story}}</a></span>                        
                        <br/>
                        <span class="author">{{story.author}}</span>                        
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    <div id="journal">       
        {% if page_number == '0' %}
            <div id="cover"><img src="{{issue.cover.url}}"/></div>
        {% else %}
            <div class="story">
                {% for story in stories %}                   
                    {% if forloop.counter == page_number|add:'0' %}                        
                        <h1>{{story.title}}</h1>
                        <h3>{{story.author}}</h3>                        
                        {{story.text|safe}}
                    {% endif %}  
                {% endfor %}   
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block right-container %}    
    {% if story_number > page_number|add:'0' %}        
        <form action="/journal/{{issue.number}}/{{page_number|add:'1'}}">
            <input id='right-button' type="submit" value="" class="navbar navbar-default side"/>
        </form>
    {% endif %} 
{% endblock %}

{% block script %}
    <script>        
        $(document).ready(function(){
            $("#issue-contents").click(function(){                
                $("#contents-panel").slideToggle("slow");            
        });
    });
    </script>
{% endblock %}