{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/submissions.css' %}" />
{% endblock %}

{% block header-items %}  
{% endblock %}

{% block middle-container %}
    {% if messages %}
        {% for msg in messages %}
		    <h2>{{ msg.message }}</h2>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-lg-6 col-md-6col-sm-6 col-xs-6">
            <div id="guideline-top"></div>
            <div id="guideline">
                <h1>Submission Guidelines</h1>
                {{guidelines.text| safe}}
            </div>
            <div id="guideline-bottom"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div id="submission-form">
                <form action="submit" enctype="multipart/form-data" method='post'>{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Submit" name="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}